# Archivos y directorios generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv
venv/
env/

ani.json

test.html

# Archivo de configuración de Python
*.pyc

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro y salida
*.log
*.out

# Archivo de configuración local (cambiar si es necesario)
.env

.idea

# Archivos generados por Poetry
poetry.lock
pyproject.toml

# Archivos generados por Streamlit
streamlit/*.log
streamlit/*.pid
streamlit/*.db
streamlit/echo-server.json
streamlit/config.toml
streamlit/credentials.toml
streamlit/source_cache
streamlit/uploads
streamlit/.streamlit/secrets.toml